@mixin flexcomponent {
    padding: 24px;
    background-color: $primary-base;
    display: flex;
    justify-content: center;
}

@mixin blackboard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 0 1.5rem;
    font-family: $font-family;
    

    max-width: 500px;
    margin: 0 auto;

    &__text {
        text-align: center;
        font-weight: $font-weight-normal;
    }

}

@mixin responsive-mobile {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

