@mixin flexcomponent {
    padding: 24px;
    background-color: $primary-base;
    display: flex;
    justify-content: center;
}

// @mixin button {
//     font-weight: $line-height-normal;
//     font-size: $text__base; 
//     text-decoration: none;
//     padding: 1.5rem 3rem;
//     border-radius: 8px;
//     cursor: pointer;
// }