@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*Font size*/
$text__sm: 1.2rem;
$text__base: 1.6rem;
$text__paragraph: 2rem;
$text__h5: 2.4rem;
$text__h4: 3.2rem;
$text__h3: 4rem;
$text__h2: 4.8rem;
$text__h1: 6.2rem;

/*Font weight*/
$font-weight-normal: 400;
$font-weight-bold: 700;

/*Line height*/
$line-height-tight: 1.2;
$line-height-normal: 1.5;

/*Letter spacing*/
$letter-spacing-tight: -2px;

/*Font Family*/
$font-family: 'Oswald', 'sans-serif';

/*Colors*/
$primary-base: #339af0;
$primary-tint: #d0ebff;
$primary-shade: #1c7ed6;

$grey-base: #495057;
$grey-tint: #f1f3f5;
$grey-shade: #212529;
$white: #ffffff;
$black:  #000000;

