@import './styles/variables';
@import './styles/mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 62.5%;
}

body {
    height: 100%;
    margin: 0;
}

.header {
    @include flexcomponent;
    

    &__text {
        text-transform: uppercase;
        color: $primary-tint;

        font: {
            size: $text__h4;
            family: $font-family;
            weight: $font-weight-bold;
        }
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @include responsive-mobile {
        flex-direction: column;
        margin: 0 auto;
    }

}

.excuses-card {
    border: 1px solid #333;
}



.footer {
     @include flexcomponent;

     &__text {
        font-size: $text__base;
        font-family: $font-family;
        color: $primary-tint;
     }
}

h1, h2, h3, h4, h5 {
    font-weight: $font-weight-bold;
    line-height: $line-height-tight;
    letter-spacing: $letter-spacing-tight;
    color: $grey-shade;
}

h1 {
    font-size: $text__h1;
}

h2 {
    font-size: $text__h2;
}

h3 {
    font-size: $text__h3;
}

h4 {
    font-size: $text__h4;
}

h5 {
    font-size: $text__h5;
}

p {
    font-size: $text__paragraph;
}

a {
    text-decoration: none;
    font-size: $text__base;
    font-family: $font-family;
    display: inline-block;

}

.btn {
    font-weight: $line-height-normal;
    font-size: $text__base; 
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover,
    &:active {
        color: $white;
        background-color: $primary-shade;
        border: 1px solid $primary-shade;
    }

    &.active {
        background-color: lightcoral;
        color: $white;
        border-color: lightcoral;
    }
    
}

.blackboard {
    @include blackboard;
    @include responsive-mobile {
        width: 90%;
    }
}

